@charset "utf-8";
/* CSS Document */
*{margin:0 auto; padding:0;}
body{text-align:center; background:#FFF;}
.top{width:1000px; height:atuo; overflow:hidden;}
.top table{border:0;border-collapse:collapse; width:1000px; font-size:12px;}

